h1= title
p Welcome to the public home for #{title}. We are a team of Software Engineers in Test trying to solve very hard 
  automation problems
p The team is currently made up of 6 people who are subject matter experts in a number of different technologies that
  allows them to solve as many automation problems as possible.
  iframe(src="https://www.google.com/calendar/b/0/embed?showPrint=0&amp;height=600&amp;wkst=2&amp;bgcolor=%23FFFFFF&amp;src=f9liigdtlqadpc1f9pfisf24n0%40group.calendar.google.com&amp;color=%23A32929&amp;ctz=America%2FLos_Angeles",
  style=" border-width:0 ", width="800", height="600", frameborder="0", scrolling="no")
