h1= title
p Want to know what the team are discussing? You can follow below!
div(id='chat') 
      - each message in irc 
        #{message} 
        br

p Had fun watching the conversation, why not be part of it!
  | You can join the conversation using 
  a(href='http://wbe02.mibbit.com/?server=irc.mozilla.org&channel=%23automation') Mibbit 
  or any desktop IRC Client

div(id='bottom')
script(type="text/javascript", src="/socket.io/socket.io.js")
script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js")

script
  $(document).ready(function () {
    var socket = io.connect(window.location.origin);
      socket.on('message', function (data) {
        var str = $('#chat').html();
        $('#chat').html(str + data["message"][0] + ' <br />');
        $(window).scrollTop($(window).height());
      });
  });
