!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      nav
        a(href='/') home 
        a(href='/team') team 
        a(href='/irc') irc 
    content!= body
