p The team is made up of Software Engineers in Test who Love To Solve Hard Problems&trade; 
p The team is currently made up of:
  br
  a(href='http://www.theautomatedtester.co.uk') David Burns
  br
  a(href='http://www.hskupin.info') Henrik Skupin 
  br
  a(href='http://blargon7.com') Dave Hunt
  br
  a(href='http://www.geomealer.com') Geo Mealer
  br
  a(href='mailto:dclarke@mozilla.com') David Clarke
  br
  a(href='mailto:cdawson@mozilla.com') Cameron Dawson
