body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  border-top: 2px solid #676767;
  background: #fff url(/images/background.png) 0 0 repeat-x;
  
}

a {
  color: black;
}

.nav-links {
  padding: 5px;
  color: black;
  background: lightgray;
}

.nav-left{
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.nav-right{
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}
