body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.nav-links {
  padding: 5px;
  color: black;
  background: lightgray;
}

.nav-left{
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}

.nav-right{
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}
